* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	text-decoration: none;
	color: white;
	list-style-type: none;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #1d252a;
}

.heading {
	color: lightgreen;
}

header {
	width: 100%;
	position: sticky;
	top: 0;
}

nav {
	font-size: 2rem;
	background-color: black;
	padding-left: 2rem;
	height: 7rem;
}

nav span {
	color: lightgreen;
	font-weight: bold;
	font-size: 2.5rem;
	padding-right: 2rem;
	letter-spacing: 0.1rem;
	font-family: "Segoe UI", sans-serif;
	display: inline-block;
}

nav ul {
	display: inline-block;
	height: 100%;
	padding-left: 5rem;
}

nav ul li {
	display: inline-block;
	line-height: 7rem;
	margin: 0 0.8rem;
}

#profile_img {
	display: block;
	max-width: 100%;
	margin: 2rem auto 6rem auto;
	height: auto;
}

nav ul li a:hover {
	background-color: lightgreen;
	color: black;
	transition: 0.3s;
}

#about,
#project,
#contact {
	margin: 3rem;
	font-size: clamp(1.7rem, 2vw, 2.3rem);
	line-height: 3rem;
	font-family: "Segoe UI", sans-serif;
}

#skills {
	margin: 5rem 0;
}

#skills ul li {
	display: inline-block;
	width: 10rem;
	height: 10rem;
	margin: 0.8rem;
	vertical-align: middle;
	font-size: 1.6rem;
}

#skills ul li img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
}

.project_card {
	display: inline-block;
}

.project_img {
	width: 100%;
	max-width: 80rem;
	min-width: 25rem;
	margin: 2rem auto 0 auto;
}

.description {
	margin: 2rem 0;
	font-size: clamp(1.5rem, 2vw, 1.8rem);
}

.tech_stack {
	font-size: clamp(1.5rem, 2vw, 1.6rem);
	color: lightgreen;
	margin-top: 1rem;
}

.github-icon {
	width: 2rem;
}

.github-btn {
	display: inline-block;
	background: #a8e6cf;
	color: #1b1b1b;
	font-weight: 600;
	padding: 1rem 1.6rem;
	margin-top: 2rem;
}

.github-btn:hover {
	background: #81d4af;
}

#contact {
	padding: 2rem 1rem;
}

#contact form {
	background: #090909;
	max-width: 700px;
	width: 100%;
	padding: 2rem 1rem;
	margin: 2rem auto;
}

#contact input,
#contact textarea {
	display: block;
	width: 100%;
	max-width: 100%;
	padding: 0.8rem;
	margin-bottom: 1.2rem;
	background-color: #c4e6d6;
}

#contact button {
	display: block;
	width: 100%;
	padding: 0.9rem;
	background: #1d252a;
	font-weight: 600;
	cursor: pointer;
}
